---
layout: default
---
<div class="col-md-9 col-content">
    <section class="category">
      {% for post in page.category.last %}
            {% include posts.html%}
      {% endfor %}
    </section>
</div>
<div class="col-md-3 col-sidebar">
    {% include sidebar_categories.html %}
</div>

<div class="col-md-9 col-content">
    {% for category in site.categories%}
    <div class="panel panel-pithy tag" id="{{category.first}}">
      <div class="panel-heading">{{tag.first}}</div>
      <div class="panel-body">
        {% for post in category.last %}
          <div class="col-md-3 post">
            <a href="{{ post.url | prepend: site.baseurl}}">
              <p class="post-date"><i class="fa fa-calendar-o"></i>{{post.date | date: "%Y-%m-%d"}}</p>
              <p class="post-title">{{post.title}}</p>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
    {% endfor %}

</div>
<div class="col-md-3 col-sidebar">
    {% include sidebar_categories.html %}
</div>
