<div class="author">
  <a href="{{ '/hakkimda' | prepend: site.baseurl | prepend: site.url }}">
    <img
      src="{{ site.author_thumbnail | prepend: site.baseurl | prepend: site.url }}"
      alt="{{ site.title }}" width="60" height="60" />
  </a>

  <h5>Author</h4>
  <h6>
    <a href="{{ '/hakkimda' | prepend: site.baseurl | prepend: site.url }}">
      Barış Esen
    </a>
  </h5>
  <p>
    Find me on
        <a title="barisesenn on Twitter"
            href="https://twitter.com/barisesenn"
            class="twitter" target="_blank">Twitter</a>
        /
        <a title="brsesen on Facebook"
            href="https://facebook.com/brsesen"
            class="facebook" target="_blank">Facebook</a>
        /
        <a title="Barış Esen on Google Plus"
            href="https://plus.google.com/106419422520895310007"
            class="google" target="_blank">Google</a>
  </p>
</div>
