{% capture author_info %}
<div class="author">
  <a href="{{ '/hakkimda' | prepend: site.baseurl | prepend: site.url }}">
    <img 
      src="{{ site.author_thumbnail | prepend: site.baseurl | prepend: site.url }}"
      alt="{{ site.title }}" width="60" height="60" />
  </a>

  <h5>Author</h4>
  <h6>
    <a href="{{ '/about' | prepend: site.baseurl | prepend: site.url }}">
      Barış Esen
    </a>
  </h5>
  <p>
    Find me on
        <a title="{{ site.theme.social.twitter }} on Twitter" 
            href="https://twitter.com/barisesenn" 
            class="twitter" target="_blank">Twitter</a>
        /
        <a title="{{ site.theme.social.facebook }} on Facebook" 
            href="https://facebook.com/brsesen" 
            class="facebook" target="_blank">Facebook</a>
        /
        <a title="{{ site.theme.social.gplus }} on Google Plus" 
            href="https://plus.google.com/106419422520895310007" 
            class="google" target="_blank">Google</a>
  </p>
</div>
{% endcapture %}{{ author_info | strip_newlines }}