{% capture social_media_li %}
<ul class="social-media">

    <li>
        <a title="{{ site.theme.social.twitter }} on Twitter" 
            href="https://twitter.com/barisesenn" 
            class="twitter wc-img-replace" target="_blank">Twitter</a>
    </li>   

    <li>
        <a title="{{ site.theme.social.gplus }} on Google Plus" 
            href="https://plus.google.com/106419422520895310007" 
            class="google wc-img-replace" target="_blank">Google</a>
    </li>

    <li>
        <a title="{{ site.theme.social.facebook }} on Facebook" 
            href="https://facebook.com/brsesen" 
            class="facebook wc-img-replace" target="_blank">Facebook</a>
    </li>

    <li>
        <a title="{{ site.theme.social.github }} on Github" 
            href="https://github.com/barisesen" 
            class="github wc-img-replace" target="_blank">Github</a>
    </li>


    <li>
        <a title="Subscribe via RSS" 
            href="{{ '/feed.xml' | prepend: site.baseurl | prepend: site.url }}"
            class="rss wc-img-replace" target="_blank">
            RSS
        </a>
    </li>

</ul>
{% endcapture %}{{ social_media_li | strip_newlines }}
