{% include header.html %}
  <main class="page-content" aria-label="Content">
    <div class="wrapper">
        {{ content }}

        <ul class="pagination">
          {% if paginator.previous_page_path %}
            <li><a href="{{paginator.previous_page_path}}">❮</a></li>
          {% endif %}
          {% if paginator.next_page_path %}
            <li style="float: right;" ><a href="{{paginator.next_page_path}}">❯</a></li>
          {% endif %}
        </ul>
    </div>

  </main>
{% include footer.html %}
