{% include header.html %}
<div id="myNav" class="overlay" onclick="closeNav()">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <div class="overlay-content">
    <script>
    (function() {
      var cx = '003006259908286287681:cxdpjcfxb2s';
      var gcse = document.createElement('script');
      gcse.type = 'text/javascript';
      gcse.async = true;
      gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(gcse, s);
    })();
  </script>
  <gcse:searchbox-only></gcse:searchbox-only>
  </div>
</div>
  <main class="page-content" aria-label="Content">
    <div class="wrapper">
        {{ content }}

        <ul class="pagination">
          {% if paginator.previous_page_path %}
            <li><a href="{{paginator.previous_page_path}}">❮</a></li>
          {% endif %}
          {% if paginator.next_page_path %}
            <li style="float: right;" ><a href="{{paginator.next_page_path}}">❯</a></li>
          {% endif %}
        </ul>
    </div>

  </main>
{% include footer.html %}
