---
layout: default
---
<div class="post">

  {% if page.banner_image %}
  <div class="banner-image">
    <img
        src="{{ "/assets/images/" | append: page.banner_image | prepend: site.baseurl | prepend: site.url }}"
        alt="{{ page.banner_image_alt }}">
  </div>
  {% endif %}

  {% if page.banner_video %}
    <div class="banner_video">
      {{ page.banner_video }}
    </div>
  {% endif %}

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">
    {% if (page.categories.size > 0 %}
      <span class="categories">
      {{ page.categories | array_to_sentence_string }}
      </span> |
    {% endif %}
    <span class="post-date">
    {{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}
    </span>
    </p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

  {% if site.related_posts %}
    <div class="related-posts">
      <h4>Related Posts</h4>
      <ul>
        {% for post in site.related_posts limit:3 %}
          <li>
            <h5>
              <a href="{{ post.url | prepend: site.baseurl | prepend: site.url }}">
                {{ post.title }}
                <small>{{ post.date | date_to_string }}</small>
              </a>
            </h5>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  <div class="author-info">
    <div class="author">
      <a href="{{ '/hakkimda' | prepend: site.baseurl | prepend: site.url }}">
        <img
          src="{{ site.author_thumbnail | prepend: site.baseurl | prepend: site.url }}"
          alt="{{ site.title }}" width="60" height="60" />
      </a>

      <h5>Author</h4>
      <h6>
        <a href="{{ '/hakkimda' | prepend: site.baseurl | prepend: site.url }}">
          Barış Esen
        </a>
      </h5>
      <p>
        <a title="barisesenn on Twitter"
            href="https://twitter.com/barisesenn"
            class="twitter" target="_blank">Twitter</a>
        /
        <a title="brsesen on Facebook"
            href="https://facebook.com/brsesen"
            class="facebook" target="_blank">Facebook</a>
        /
        <a title="Barış Esen on Google Plus"
            href="https://plus.google.com/106419422520895310007"
            class="google" target="_blank">Google</a>
      </p>
    </div>
    <div class="share-buttons">
      <h5>Share this post on</h5>
      <ul class="social-media">
        <li>
            <a title="{{ site.theme.social.twitter }} on Twitter"
              href="https://twitter.com/intent/tweet?original_referer={{site.url}}{{page.url}}&amp;text={{page.title}}&amp;url={{site.url}}{{page.url}}" class="twitter wc-img-replace" target="_blank">
              Twitter
            </a>
        </li>
        <li>
            <a title="{{ site.theme.social.gplus }} on Google Plus"
                href="https://plus.google.com/share?url={{site.url}}{{page.url}}"
                class="google wc-img-replace" target="_blank">Google</a>
        </li>
        <li>
            <a title="{{ site.theme.social.facebook }} on Facebook"
                href="https://www.facebook.com/sharer/sharer.php?u={{site.url}}{{page.url}}&amp;t={{page.title}}"
                class="facebook wc-img-replace" target="_blank">Facebook</a>
        </li>
      </ul>
    </div>

      <script src="https://apis.google.com/js/plusone.js"></script>
      <div id="comments"></div>
      <script>
      gapi.comments.render('comments', {
          href: window.location,
          width: '624',
          first_party_property: 'BLOGGER',
          view_type: 'FILTERED_POSTMOD'
      });
      </script>
  </div>

</div>
